#MacOS
.DS_Store

# Environments
.env
.venv
env/
venv/

# Python: compiled files and tool caches
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/

#vscode
.vscode/

#Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/

# ─── Secrets ───
*.pem
*.key

notes/*
notizen/*

hints & guide/*
